fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib==1.7.4
bcrypt==3.2.2
pydantic[email]
pydantic-settings
alembic
aiofiles
pillow
httpx
greenlet
python-dotenv
pandas